<!-- Validation failure messages -->
<% if @traveler.errors.any? %>
  <% @traveler.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Traveler</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_traveler" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_of_travel -->
      <div class="form-group">
        <label for="date_of_travel" class="control-label">
          Date of travel
        </label>

        <input type="text" id="date_of_travel" data-provide='datepicker' name="date_of_travel" placeholder="Date of travel" class="form-control" value="<%= @traveler.date_of_travel %>">
      </div>

      <!-- Label and input for origin_id -->
      <div class="form-group">
        <label for="origin_id" class="control-label">
          Origin
        </label>

        <input type="text" id="origin_id" name="origin_id" placeholder="Origin" class="form-control" value="<%= @traveler.origin_id %>">
      </div>

      <!-- Label and input for destination_id -->
      <div class="form-group">
        <label for="destination_id" class="control-label">
          Destination
        </label>

        <input type="text" id="destination_id" name="destination_id" placeholder="Destination" class="form-control" value="<%= @traveler.destination_id %>">
      </div>

      <!-- Label and input for acceptable_weight_lbs -->
      <div class="form-group">
        <label for="acceptable_weight_lbs" class="control-label">
          Acceptable weight lbs
        </label>

        <input type="text" id="acceptable_weight_lbs" name="acceptable_weight_lbs" placeholder="Acceptable weight lbs" class="form-control" value="<%= @traveler.acceptable_weight_lbs %>">
      </div>

      <!-- Label and input for expected_fee -->
      <div class="form-group">
        <label for="expected_fee" class="control-label">
          Expected fee
        </label>

        <input type="text" id="expected_fee" name="expected_fee" placeholder="Expected fee" class="form-control" value="<%= @traveler.expected_fee %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @traveler.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Traveler
      </button>
      or
      <a href="/travelers">Cancel</a>
    </form>
  </div>
</div>
