<div class="page-header">
  <h3>Traveler #<%= @traveler.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date of travel</dt>
      <dd><%= @traveler.date_of_travel %></dd>

      <dt>Origin</dt>
      <!-- <dd><%= @traveler.origin_id %></dd> -->

      <% id = @traveler.origin_id %>
      <% origin_city = City.find_by( :id => id) %>
      <dd><%=  origin_city.city %></dd>



      <dt>Destination</dt>
      <!-- <dd><%= @traveler.destination_id %></dd> -->

      <% id = @traveler.destination_id %>
      <% dest_city = City.find_by( :id => id) %>
      <dd><%= dest_city.city %></dd>


      <dt>Acceptable weight lbs</dt>
      <dd><%= @traveler.acceptable_weight_lbs %></dd>

      <dt>Expected fee</dt>
      <dd><%= @traveler.expected_fee %></dd>

      <dt>User</dt>
      <dd><%= @traveler.user.email %></dd>

    </dl>

    <iframe
    width="300"
    height="200"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/directions
    ?key=AIzaSyCjEq4kJ3Z9eBSq9pcRbbnPwPDQLH_MOeM
    &origin=chicago>
    &destination=london
    &avoid=tolls|highways" >
    </iframe>


    <div class="btn-group btn-group-justified">
      <a href="/travelers" class="btn btn-primary">
        Back
      </a>
      <a href="/travelers/<%= @traveler.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_traveler/<%= @traveler.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
