<div class="page-header">
  <h3>Shipment #<%= @shipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @shipment.user.email %></dd>

      <dt>Photo</dt>

      <dd><img src="<%= @shipment.photo %>" width="75"></dd>

      <dt>Destination</dt>
      <!-- <dd><%= @shipment.destination_id %></dd> -->


      <% id = @shipment.destination_id %>
      <% dest_city = City.find_by( :id => id) %>
      <dd><%= dest_city.city %></dd>


      <dt>Origin</dt>
      <!-- <dd><%= @shipment.origin_id %></dd> -->

      <% id = @shipment.origin_id %>
      <% origin_city = City.find_by( :id => id) %>
      <dd><%= origin_city.city %></dd>

      <dt>Offer price</dt>
      <dd><%= @shipment.offer_price %></dd>

      <dt>Data of shipment</dt>
      <dd><%= @shipment.data_of_shipment %></dd>

    </dl>




    <div class="btn-group btn-group-justified">
      <a href="/shipments" class="btn btn-primary">
        Back
      </a>


      <a href="/shipments/<%= @shipment.id %>/edit" class="btn btn-warning">
        Edit
      </a>



      <a href="/delete_shipment/<%= @shipment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>


    </div>
  </div>
</div>
